.section-one {
    margin-top: 220px;
    text-align: center;
}

.text1 {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 38px;
    color: #04385E;
}

